#centered_small_icon{
    background-size    : 50px;
    background-position: center;
    background-image   : url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color   : blue;
    background-repeat: no-repeat;
    width: 800px;
    height: 200px;
}
#green_line{
    background-color   : green;
    background-repeat: no-repeat;
    width: 800px;
    height: 200px;
}
#full_width_icon{
    background-size    : 400px;
    background-position: center;
    background-image   : url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color   : red;
    background-repeat: no-repeat;
    width: 800px;
    height: 200px;
}
#repeated_icon{
    background-size    : 50px;
    background-position: center;
    background-image   : url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color   : darkviolet;
    width: 800px;
    height: 200px;
}