#figure1{
    border: solid black 1px;
    height: 150px;
    width:  150px;

}
#figure2{
    padding:10px;
    width:1325px;
    border: solid black 3px;

}
#figure3{
    margin: 20px;
    border: solid coral 1px;
    height: 20px;
    width: 900px;

}
#figure4{
    border: solid blue 2px;
    height: 100px;
    width: 50%;
    border-radius:10px;
}
#figure5{
    width:1325px;
    padding-left:40px;
    border: solid black 1px;
}
#figure6{
    margin-left:40px;
    border: solid black 1px;
    width: 1325px;
}
#figure7{
    padding:10px;
    margin-top: 20px;
    border: solid blue 1px;
    height: 100px;
    width: 100px;
    margin-right:auto;
    margin-left:auto;
    border-radius:10px;

}
