main{
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
}
nav{
    background-color:lightblue;
    margin:10px;
    display:flex;
}
.button{
    padding:5px;
    padding-top:10px;
    padding-bottom: 10px;
}
#first{
    justify-content: space-between;
}
 #second{
     flex-direction:column-reverse;
 }
 #third{
     flex-direction:row-reverse;
     flex-wrap:wrap;
 }
 #forth .button{
background-color:lightgreen;
     margin:10px;

 }
 #forth .b3{
     order:-1;
 }
 #forth .b2{
     flex-grow:2;
 }