h1{
    color: white;
}
header{
    padding:50px;
    background-color: black;
    margin-bottom: 20px;
}
header a{
color: white;
}
nav{
    display:flex;
    justify-content: space-between;
}
#imatges{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align:center;
}
#imatges div{
    padding:20px;
}
body{
    margin:0px;
}
@media (max-width: 800px) {
    header{
        text-align: center;
    }
nav{
    /* no hace falta poner display:flex; porque es como si ya estuviera aplicado por lo de antes*/
    flex-direction: column;
}
}

