.der{
    background-color: aquamarine;
    width:200px;
    height:200px;
    padding: 50px;
    border-radius:5px;

}
#first-box{
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}
#second-float{
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px
}
#next-section{
    clear:both;
}