#container{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 50px 150px 50px;
    grid-template-areas:
            "menu logo content content"
            "menu logo content content"
            "menu footer footer footer";
}
div nav{
    background-color: blue;
    grid-area:menu;
    text-align:center;
}
#logo{
    background-color: red;
    grid-area:logo;
    text-align:center;
}#content{
    background-color: orange;
    grid-area:content;
     text-align:center;
 }
div footer{
     background-color: green;
     grid-area:footer;
    text-align:center;
 }
@media (max-width: 800px) {
    #container {
        grid-template-areas:
                "menu menu menu menu"
                "logo content content content"
                "footer footer footer footer";
    }
}