body{
    background-color: #00aaff;
    margin:0px;
}
#clouds{
    background-image: url('../clouds.png');
    height:73px;
    position:-webkit-sticky;
}
#mario{
    background-image: url('../mario.png');
    width:239px;
    height:113px;
    position:absolute;
    bottom:0px;

}
#base{
    background-repeat:repeat;
    background-image: url('../base.png');
    height:14px;
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;

}