p{
    border: solid black 1px;
}
#figure1{
    background-color: blue;
}
#figure2 {
    background-color: hotpink;
}
#figure3{
    background-color: yellow;
    font-size:20px;
}
@media (min-width: 800px) {
    #figure1{
        font-size:40px;
        font-weight: bolder;
    }
    #figure3{
        height: 200px;
        padding-left:80px;
        padding-top:80px;
    }
}
@media (max-width:800px){
    #figure2 {
        display: none;
    }
}
